<!DOCTYPE html>
<html ng-app="optLocApp">
<head>
    <title>WhereYouShould.Be</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link href="/webjars/jquery-ui/1.11.1/jquery-ui.min.css" rel="stylesheet">
    <link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.11.1/jquery-ui.min.js"></script>

    <script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='/webjars/angularjs/1.2.22/angular.min.js'></script>
    <script src='/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js'></script>

    <script src='/webjars/lodash/2.4.1-6/lodash.underscore.min.js'></script>
    <script src='/webjars/angular-google-maps/1.2.0-2/angular-google-maps.min.js'></script>

    <script src="js/slider.js"></script>

    <script src="js/optLocApp.js"></script>
</head>
<body>
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">WhereYouShould.Be</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="searchController">
        <input type="text"
               ng-model="selectedLocation"
               placeholder="I'm thinking of a move to..."
               typeahead="location as location.name for location in getOptLoc($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-editable="false"
               typeahead-min-length="3"
               typeahead-wait-ms="500"
               typeahead-on-select="onSelect($item, $model, $label)"
               class="form-control location-selector">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </div>
</div>

<div ng-controller="mapController">
    <google-map center="map.center" zoom="map.zoom" draggable="true" control="map.control">
        <markers models="map.markers" coords="'self'" icon="'icon'" options="'options'" isLabel="true"></markers>
        <circle center="map.range.center"
                radius="map.range.radius"
                fill="map.range.fill"
                stroke="map.range.stroke"
                visible="map.range.visible">
        </circle>
    </google-map>
</div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-8"><!--map-canvas will be postioned here--></div>
        <div class="col-xs-4" id="left" ng-controller="optionsController">

            <h2>Bootstrap Google Maps Demo</h2>

            <!-- item list -->
            <div class="panel panel-default">
                <div class="panel-heading"><a href="">Population</a></div>
            </div>

            Range
            <div class="option-slider"
                 ui-slider="rangeOptions"
                 min="2000"
                 max="20000"
                 step="1000"
                 delay="300"
                 ng-model="options.range"></div>
            <input type="text" ng-model="options.range" />

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <hr>
            <!-- /item list -->

            <p>
                <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source
                Code</a>
            </p>

            <hr>

            <p>
                <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets
                    on Bootply</a>
            </p>

            <hr>
        </div>
    </div>
</div>
<!-- end template -->
</body>
</html>