<!DOCTYPE html>
<html ng-app="optLocApp">
<head>
    <title>Where You Should Be</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link href="/webjars/jquery-ui/1.11.1/jquery-ui.min.css" rel="stylesheet">
    <link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.11.1/jquery-ui.min.js"></script>

    <script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='/webjars/angularjs/1.2.22/angular.min.js'></script>
    <script src='/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js'></script>

    <script src='/webjars/lodash/2.4.1-6/lodash.underscore.min.js'></script>
    <script src='/webjars/angular-google-maps/1.2.0-2/angular-google-maps.min.js'></script>

    <script src="js/slider.js"></script>

    <script src="js/optLocApp.js"></script>
    <script src="js/service/optLocService.js"></script>
    <script src="js/controller/mapController.js"></script>
    <script src="js/controller/optionsController.js"></script>
    <script src="js/controller/searchController.js"></script>

</head>
<body>
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="word-spacing: -3px">Where You Should .Be</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="searchController">
        <input type="text"
               ng-model="selectedLocation"
               placeholder="I'm thinking of a move to..."
               typeahead="location as location.name for location in getOptLoc($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-editable="false"
               typeahead-min-length="3"
               typeahead-wait-ms="500"
               typeahead-on-select="onSelect($item, $model, $label)"
               class="form-control location-selector">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </div>
</div>

<div ng-controller="mapController">
    <google-map center="map.center" zoom="map.zoom" draggable="true" control="map.control" bounds="map.bounds" options="map.options">
        <markers models="map.markers" coords="'self'" icon="'icon'" options="'options'" isLabel="true"></markers>
        <circle center="map.range.circle.center"
                radius="map.range.circle.radius"
                fill="map.range.fill"
                stroke="map.range.stroke"
                visible="map.range.visible">
        </circle>
    </google-map>
</div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-8 map-panel"><!--map-canvas will be postioned here--></div>
        <div class="col-xs-4 option-panel" id="left" ng-controller="optionsController">
            <hr/>
            <h4>Range</h4>

            <h5>Donut</h5>

            <div class="sliderContainer">
                <input type="radio"
                       name="rangeSelection"
                       ng-model="options.rangeType"
                       ng-value="rangeTypes.DONUT" />
                <div class="sliderDiv">
                    <div ui-slider="donutRangeConfig"
                         min="0"
                         max="20000"
                         step="1000"
                         delay="300"
                         class="option-slider"
                         ng-model="options.donutRange">
                    </div>
                </div>
            </div>

            <h5>Circle</h5>

            <div class="sliderContainer">
                <input type="radio"
                       name="rangeSelection"
                       ng-model="options.rangeType"
                       ng-value="rangeTypes.CIRCLE" />
                <div class="sliderDiv">
                    <div ui-slider="circleRangeConfig"
                         min="0"
                         max="20000"
                         step="1000"
                         delay="300"
                         class="option-slider sliderDiv"
                         ng-model="options.circleRange">
                    </div>
                </div>
            </div>

            <h4>Population</h4>
            <div class="sliderContainer">
                <div class="sliderDiv">
                    <div ui-slider="populationConfig"
                         min="0"
                         max="2"
                         step="1"
                         delay="300"
                         class="option-slider"
                         ng-model="options.population">
                     </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<!-- end template -->
</body>
</html>